# dependencies
/node_modules
/build
/dist
/out
/bundle

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Temporary files
*.log
*.temp
*.tmp
*.bak
*.tsbuildinfo

# Editor and IDE specific files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

